# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/venv/
### Example user template template
### Example user template
/test.py
__pycache__/
build/
dist/
*.spec
